/* baloo-thambi-2-regular - latin */
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/baloo-thambi-2-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Baloo Thambi 2 Regular'), local('BalooThambi2-Regular'),
       url('../fonts/baloo-thambi-2-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/baloo-thambi-2-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baloo-thambi-2-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/baloo-thambi-2-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/baloo-thambi-2-v1-latin-regular.svg#BalooThambi2') format('svg'); /* Legacy iOS */
}
/* baloo-thambi-2-500 - latin */
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/baloo-thambi-2-v1-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Baloo Thambi 2 Medium'), local('BalooThambi2-Medium'),
       url('../fonts/baloo-thambi-2-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/baloo-thambi-2-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baloo-thambi-2-v1-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/baloo-thambi-2-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/baloo-thambi-2-v1-latin-500.svg#BalooThambi2') format('svg'); /* Legacy iOS */
}
/* baloo-thambi-2-600 - latin */
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/baloo-thambi-2-v1-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Baloo Thambi 2 SemiBold'), local('BalooThambi2-SemiBold'),
       url('../fonts/baloo-thambi-2-v1-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/baloo-thambi-2-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baloo-thambi-2-v1-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/baloo-thambi-2-v1-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/baloo-thambi-2-v1-latin-600.svg#BalooThambi2') format('svg'); /* Legacy iOS */
}
/* baloo-thambi-2-700 - latin */
@font-face {
  font-family: 'Baloo Thambi 2';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/baloo-thambi-2-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Baloo Thambi 2 Bold'), local('BalooThambi2-Bold'),
       url('../fonts/baloo-thambi-2-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/baloo-thambi-2-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baloo-thambi-2-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/baloo-thambi-2-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/baloo-thambi-2-v1-latin-700.svg#BalooThambi2') format('svg'); /* Legacy iOS */
}
/* secular-one-regular - latin */
@font-face {
  font-family: 'Secular One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/secular-one-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Secular One'), local('SecularOne-Regular'),
       url('../fonts/secular-one-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/secular-one-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/secular-one-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/secular-one-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/secular-one-v4-latin-regular.svg#SecularOne') format('svg'); /* Legacy iOS */
}
