html{
  height: 100%;
}
body {
  font-family: 'Baloo Thambi 2', sans-serif;
  line-height: 1.6;
  text-align: center;
  height: 100%;
  color: #fff;
  background: #751010;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-shadow: inset 0px 0px 200px rgba(83, 0, 0, 0.72);
  -moz-box-shadow:    inset 0px 0px 200px rgba(83, 0, 0, 0.72);
  box-shadow:         inset 0px 0px 200px rgba(83, 0, 0, 0.72);
}
.container {
  font-size: 1em;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.container #typed, .container #typedStrings p{
  line-height: inherit;
  font-size: inherit;
}
.container a {
  user-select: text;
  font-size: inherit;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 15px;
  border-radius: 5px;
  color: #fdffc0;
  text-decoration: none;
  transition: all 0.3s ease;
}
.container a:hover {
  background: rgba(255, 255, 255, 0.05);
}
.typed-cursor{
  color: #420202;
}
#typed{

}
strong{
  font-weight: bold;
}
.box{
  color:#420202;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 80%;
  min-height: 20%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all .2s ease;
  box-shadow: #3c0000 0 0 20px -10px;
  border-radius: 20px;
  user-select: none;
}
.box:hover{
  background-color: rgba(255, 255, 255, 0.8);
}
@media query {

}
