<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  {%- for css_link in page.css_link -%}
  <link rel="stylesheet" href="{{ css_link }}">
  {%- endfor -%}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/img/favicons/site.webmanifest">
  <meta name="theme-color" content="{{ site.theme-color }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-tracking-id }}"></script>
  <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","{{ site.google-tracking-id }}");</script>
</head>
<body {% if page.bodyId %}id="{{ page.bodyId }}"{% endif %}>
  <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->
  {{ content }}
  {% include scripts.html %}
</body>
</html>
